body {
    margin: auto;
    width: 100%;
    background: rgb(158, 180, 252);
}

h1 {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    color: rgb(66, 66, 66);
    
}

.outcome {
    border: 10px;
    text-align: center;
    width: 700px;
    
}

.options {
    
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
    top: 27%;
    right: 2%;
    width: 100%;
    text-align: center;
    
}

.start-button {
    text-align: center;
    height: 20px;
    
}



#btn1 {
    
    visibility: hidden;
    height: 100px;
    width: 150px;
    border-radius: 15px;
    font-family: 'Press Start 2P', cursive;
    margin: 10px;
    font-size: 15px;
    outline: none;
}

#btn2 {
    
    visibility: hidden;
    height: 100px;
    width: 150px;
    border-radius: 15px;
    font-family: 'Press Start 2P', cursive;
    margin: 10px;
    font-size: 15px;
    outline: none;
}

#btn3 {
    
    visibility: hidden;
    height: 100px;
    width: 150px;
    border-radius: 15px;
    font-family: 'Press Start 2P', cursive;
    margin: 10px;
    font-size: 15px;
    outline: none;
    
}

#btn1:hover {
    background-color: rgb(95, 185, 241);
    font-size: 16px;
    height: 105px;
    width: 155px;
}

#btn2:hover {
    background-color: rgb(95, 185, 241);
    font-size: 16px;
    height: 105px;
    width: 155px;
}

#btn3:hover {
    
    background-color: rgb(95, 185, 241);
    font-size: 16px;
    height: 105px;
    width: 155px;
    
}

#begin {
    
    position: absolute;
    top: 100px;
    right: 664px;
    
    height: 100px;
    width: 150px;
    border-radius: 15px;
    font-family: 'Press Start 2P', cursive;
    margin: 10px;
    font-size: 15px;
    outline: none;
}

#begin:hover {
   background-color: rgb(50, 153, 238);
}

/* #retro:hover {
    box-shadow: darkgoldenrod;
} */

.main {
    
    position: relative;
    top: 40px;
    margin-left: auto;
    margin-right: auto;    
    background-color: rgb(214, 188, 153);
    border-radius: 20px;
    height: 600px;
    width: auto;
    text-align: center;
    

}


.player-score {
    
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50px;
    font-family: 'Press Start 2P', cursive;
    font-size: 35px;
}

.computer-score {
    
    text-align: center;
    position: absolute;
    top: 25%;
    right: 30px;
    font-family: 'Press Start 2P', cursive;
    font-size: 35px;
}

#para {

    
    font-size: 25px;
    font-family: 'Press Start 2P', cursive;
    font-weight: 1000;
}

#phand {
    font-size: 1em;
}

#chand {
    font-size: 1em;
}